/* Start Variables */
:root{
    --main_color : #10cab7 ;
    --Sec-color: #2c4755 ;
}
/* End Variables */
.special_heading{
    color: #9a9c9e;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -2px;
    margin: 0;
}
.special_heading + p{
    margin: -30px 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
html{
    scroll-behavior: smooth;
    scrollbar-track-color: var(--main_color);
}
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* Small Screens */

@media (min-width : 768px) {
    .container{
        width: 750px;
    }
}
@media (max-width : 767px){
    .special_heading {
        font-size: 60px;
    }
    .special_heading + p{
        font-size: 15px;
        margin-top: -20px;
    }
    .services .services-content .ser{
        flex-direction: column;
        text-align: center;
    }
    .contact .info .link{
        font-size: 19px !important;
    }
    .contact .info .label{
        font-size: 30px !important;
    }
}

/* Medium Screens */

@media (min-width : 992px) {
    .container{
        width: 970px;
    }
}

/* Large Screens */

@media (min-width : 1200px) {
    .container{
        width: 1170px;
    }
}
@media (max-width :1199px) {
.image-column{
    display: none;
}
.about-content .image2{
    display: none;
}
.about-content{
    justify-content: center !important;
}
}

/* End OF Global Rules */
/* Start Header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 70px;
}
.header .links {
    position: relative;
}
.links .menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition:all .5s ease-in-out ease-in-out;
    -webkit-transition:all .5s ease-in-out ease-in-out;
    -moz-transition:all .5s ease-in-out ease-in-out;
    -ms-transition:all .5s ease-in-out ease-in-out;
    -o-transition:all .5s ease-in-out ease-in-out;
}
.menu-btn .menu-btn_burger{
    width: 30px;
    height: 5px;
    background-color: #333;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition:all .5s ease-in-out ;
    -webkit-transition:all .5s ease-in-out ;
    -moz-transition:all .5s ease-in-out ;
    -ms-transition:all .5s ease-in-out ;
    -o-transition:all .5s ease-in-out ;
    -moz-border-radius: 4px;
}
.menu-btn_burger::before , 
.menu-btn_burger::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #333;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .5s ease-in-out ;
    -webkit-transition: all .5s ease-in-out ;
    -moz-transition: all .5s ease-in-out ;
    -ms-transition: all .5s ease-in-out ;
    -o-transition: all .5s ease-in-out ;
} 
.menu-btn_burger::before{
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}
.menu-btn_burger::after{
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
}
/* Menu Animation */
.menu-btn.open .menu-btn_burger{
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    background-color: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(20px , -20px);
    -webkit-transform: rotate(45deg) translate(20px , -20px);
    -moz-transform: rotate(45deg) translate(20px , -20px);
    -ms-transform: rotate(45deg) translate(20px , -20px);
    -o-transform: rotate(45deg) translate(20px , -20px);
}
.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(20px , 20px);
    -webkit-transform: rotate(-45deg) translate(20px , 20px);
    -moz-transform: rotate(-45deg) translate(20px , 20px);
    -ms-transform: rotate(-45deg) translate(20px , 20px);
    -o-transform: rotate(-45deg) translate(20px , 20px);
}
/* End Of The Animation */
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #eee;
    right: 7px;
    min-width: 150px;
    top:calc(100% + 15px);
    display: none;
}
.menu-btn.open ul{
    display: block;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent; 
    position: absolute;
    right: 5px;
    top: -20px;
}
.links ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.links ul li a:hover{
    padding-left: 25px;
}
.links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start of Landing Page */
.landing {
    width: 99vw;
    height: calc(100vh - 80px);
    background-image: url(../Images/landing2.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
}
.landing .intro_text{
    position: absolute;
    top: 45vh;
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro_text H1 {    
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main_color);
}
.landing .intro_text p {  
    font-size: 19px;
    line-height: 1.8;

}
/* End Of Landing Page */
/* Start of Features Page */
.features{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 100%;
background-color: #f6f6f6;
padding: 60px;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
    gap: 20px;
}
.feature{
padding: 20px;
text-align: center;
}
.container .feature i{
    font-size: 3em;
    color: var(--main_color);
}
.features h3{
    margin: 30px 0;
    font-weight: bold;
}

.features p{    
    font-size: 18px;
    line-height: 1.8;
    color: #444;
    text-align: center;
}
.feature:hover i{
    font-size: 4em;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/* End of Features Page */
/* Start Of Services Page */
.services{
    padding: 60px 0;
    display: flex;
    justify-content: center;

}
.services .services-content{
    display:grid;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr)) ;
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .ser{
    display: flex;
    margin-bottom: 30px;

}
.services .services-content .ser i{
    color: var(--main_color);
    flex-basis: 60px;
    font-size: 2em;
}
.ser .txt h3{
margin: 0 15px -10px;
}
.ser .txt p{
    color: #777;
    font-weight: 300;
    line-height: 1.5;
}
.services .services-content .image{
    text-align: center;
    position: relative;

}

.image::before{
content: "";
height: calc(100% + 100px);
width: 100px;
background-color: var(--Sec-color);
top: -50px;
right: -10px;
position: absolute;
z-index: -1;
}
.image img{
    width: 260px;
    margin-left: 30px;
}
/* End Of Services Page */
/* Start Of Portfolio Page */
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .portfolio-content{
    display:grid;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr)) ;
    gap: 30px;
    margin-top: 100px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img{
    max-width: 100%;
}
.card .info{
    padding: 20px;
}
.info h3{
    margin: 0;
    font-size: 25px;
}
.info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* End Of Portfolio Page */
/* Start Of About Page */
.about{
    padding-top: 60px;
    padding-bottom: 120px;
}
.about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-content .image2{
    position: relative;
}
.about-content .image2 img{
    position: relative;
    width: 250px;
    height: 375px;
}
.about-content .text{
    width: 570px;
}
.about-content .text p{
    font-size: 19px;
    line-height: 2;
}
.about-content .text p:first-child{
    font-size: 19px;
    line-height: 2;
    font-weight: 600;
}
.about-content .text hr{
    width: 300px;
    height: 2px;
    background-color: var(--main_color);
    border: 0;
}
.about-content .image2::before{
    content: "";
    width: 100px;
    height: 475px;
    position: absolute;
    top: -40px;
    left: -50px;
    background-color: var(--Sec-color);
}
.about-content .image2::after{
    content: "";
    position: absolute;
    top: -40px;
    right: -140px;
    width: 100px;
    height: 320px;
    border-left: 80px solid var(--main_color);
    border-bottom: 70px solid var(--main_color);
    z-index: -1;
}
/* End Of About Page */
/* Start Contact Page */
.contact{
    padding-top: 60px;
    background-color: #f6f6f6;
}
.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color: var(--Sec-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main_color);
    text-decoration: none;
}
.social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
}
.social i{
    margin-left: 10px;
    color: var(--main_color);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.social .fa-facebook:hover{
    font-size: 35px;
    color: #3b5998;
}
.social .fa-twitter:hover{
    font-size: 35px;
    color: #5da9dd;
}
.social .fa-instagram:hover{
    font-size: 35px;
    color: #800020;
}
/* End Contact Page */
/* Start Footer */
.footer{
    background-color: var(--Sec-color);
    color: white;
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 0;
}
.footer span{
    font-weight: bold;
    color: var(--main_color);
}
/* End Footer */